<h2>User Account Page</h2>


Welcome <%= current_user.username %>

Decks you have created:
<ul>
<% current_user.decks.each do |deck| %>
<li><h3><%= deck.subject %></h3>Created <%= deck.created_at %></li>
<% end %>
</ul>
