<h1>Create a new card for <%= @deck.subject %></h1>

<form action="/decks/:deck_id/cards" method="post">
  <input type="text" name="card[question]" placeholder="Question">
  <input type="text" name="card[answer]" placeholder="Answer">
  <input >
