<form action="/decks/<%= @deck.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="subject" value="<%= @deck.subject %>">
  <input type="submit" value="Save Changes">
</form>
