<form action="/decks" method="post">
  <input type="text" name="subject" placeholder="Subject"><br><br>
  <label type="radio1">Make deck private?</label>
  <input type="checkbox" name="private" id="radio1"><br><br>
  <input type="submit" value="Submit">
</form>
