<form action="/decks" method="post">
  <input type="text" name="subject" placeholder="Subject">
  <label type="radio1">Make deck private?</label> 
  <input type="radio" name="private" id="radio1">
  <input type="submit" value="Submit">
</form>
