<html>
  <head>
    <title>Flashcards!</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>

  <body>
    <div id="header">
      <div id="headertop">
        <div id="logo">FLASHCARDS</div>
        <div id="nav">
          <ul id="navul">
          <% if current_user %>
            <li class="linav"><a href="/">Home</a></li>
            <li class="linav"><a href="/logout">Logout</a></li>
          <% else %>
            <li class="linav"><a href="/">Home</a></li>
            <li class="linav"><a href="/login">Sign In</a></li>
            <li class="linav"><a href="/users/new">Register</a></li>
          <% end%>
          </ul>


        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
